body {
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.8)
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex
}

.imgWrapper {
    height: 100vh;
    width: 100vw;
}

.backgroundImg {
    background-image: url(/photos/fractalAngel.jpg);
    background-repeat: no-repeat;
    height: inherit;
    width: inherit;
    overflow: hidden;
    flex: 1;
    line-height: inherit;
    z-index: -2
}

.trans {
    background-color: rgba(0,0,0,0.7);
    background-size: 100vw;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1
}

header {
    background-color: #06c;
    position: absolute;
    height: 12.5vh;
    width: inherit;
    display: flex;
}

.headerTrans {
    background-color: rgba(0,0,0,0.5);
    height: inherit;
    width: inherit;
}

h1 {
    text-align: left;
    top: 15vh; 
    color: aqua
}

img {
    position: absolute
    right: 45vw;
    top: -1.5vh;
    overflow: hidden;

}

nav {
    position: absolute;
    right: 1vw;
}


