---
title: Arch
description: My porfolio site for all of the projects that I have been a part of, and what I do.
---
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Software, Developer, Intern, Contract, Job, Android, iOS, Java, HTML, CSS, JavaScript, Node.js, Student, web, development, engineer, computer science">
    <meta name="author" content="Gabriel Gomez">
    <meta http-equiv="refresh" content="20">
    <meta name="description" content="{% if page.description %} {{ page.description }}
                                      {% else %} {{ site.description }} {% endif %}">
    <!-- Disabling crawling for now -->
    <meta name="robots" content = "noindex">
    
    <title>
        {% if page.title%} {{ page.title}}
        {% else %} {{ site.title }}
        {% endif %}
    </title>
</head>