<div class="container">
    <div class="imgWrapper">   
        <div class="backgroundImg">
            <div class="trans"></div>
        </div>
    </div>

    <header>
        <div class="headerTrans"></div>
        {% assign message = site.data.header["message"] %}
        <div class="{{ message.class }}">
            <h1>{{ message.header }}</h1>
        </div>

        {% assign logo = site.data.header["logo"] %}
        <div class="{{ logo.class }}">
            <img src="{{ logo.src }}" alt="{{ logo.alt }}" height="{{ logo.height }}" width="{{ logo.width }}">
        </div>

        {% assign nav = site.data.header.nav %}
        <div class="nav">
            <nav>
                {% for diff in site.data.header["nav"] %} 
                {% assign name = nil %} 
                {% assign link = nil %}

                    {% for info in diff %}
                    {% assign name = info.name %}
                    {% assign link = info.link %}
                    {% endfor %}
                <a href="{{ link }}">{{ name }}</a>
                {% endfor %}
            </nav>
        </div>
    </header>
</div>